body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    background: linear-gradient(to right, #e3fdfd, #ffe6fa); 
    color: #333;
}

header {
    background: linear-gradient(to right, #004d40, #00695c, #00796b);
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0px 30px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    transition: transform 0.3s ease-in-out;
}

.navbar:hover {
    transform: scale(1.02);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 25px;
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 20px;
    position: relative;
}

.nav-links a:hover {
    background-color: white;
    color: #004d40;
    font-weight: bold;
}

.contact-section {
    text-align: center;
    margin: 40px auto;
    padding: 20px;
    max-width: 800px;
    background: linear-gradient(145deg, #ffffff, #f3f3f3);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.contact-section h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

.contact-info {
    margin-bottom: 20px;
    color: #555;
    font-size: 1rem;
}

.contact-info p {
    margin: 0.5rem 0;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.5);
}

.contact-form input,
.contact-form textarea {
    width: 90%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
}

.contact-form button {
    background-color: #388e3c;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #66bb6a;
}

footer {
    background: #004d40; 
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

