body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f1f1f1;
}

header {
    background: linear-gradient(to right, #004d40, #00695c, #00796b); 
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0px 30px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    transition: transform 0.3s ease-in-out;
}

.navbar:hover {
    transform: scale(1.02);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 20px;
}

.nav-links a:hover {
    background-color: white;
    color: #004d40;
    font-weight: bold;
}


.services {
    padding: 2rem;
    text-align: center;
    background: #e0f2f1;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
    gap: 2rem; 
    justify-content: center;
}

.service-card {
    width: 90%;
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.service-card h3 {
    font-size: 1.8rem;
    color: #004d40;
    text-align: center;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

table th, table td {
    padding: 8px;
    border: 1px solid #ddd;
}

table th {
    background-color: #004d40;
    color: white;
}

footer {
    background: #004d40; 
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}
